.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    height: 100vh;
    position: fixed;
}

.top-nav {
    position: fixed;
    z-index: 1;
}

.playlist-container {
    background-color: #191919;
    padding: 0;
    width: 81%;
    margin-left: 20%;
    position: absolute;
}

.side-bar-item {
    font-size: 14px;
    font-weight: bold;
    color: white;
    width: 100%;
    margin: 10px;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.side-bar-icon {
    width: 28px;
    height: 28px;
    font-size: 28px;
}

.side-bar-icon:hover {
    cursor: pointer;
    color: lightgray;
}

.side-bar-button {
    font-size: 14px;
    font-weight: bold;
    background: black;
    color: white;
}

.side-bar-button:hover {
    cursor: pointer;
    color: lightgray;
}

.focus-page {
    position: relative;
    margin-top: 80px;
    margin-left: 33px;
}

.body-title {
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.body-title:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.playlist-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.playlist-page {
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}