.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.text {
    font-size: 13px;
    font-weight: bold;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.fb-btn {
    width: 400px;
    background-color: #1877f2;
    border-radius: 20px;
    padding: 8px;
    color: white;
    border: none;
    font-weight: 500;
}

.apple-btn {
    width: 400px;
    background-color: #191919;
    border-radius: 20px;
    padding: 8px;
    color: white;
    border: none;
    font-weight: 500;
}

.google-btn {
    width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    color: gray;
    border: 2px solid gray;
    font-weight: 500;
}

.phone-btn {
    width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    color: gray;
    border: 2px solid gray;
    font-weight: 500;
}

.or-divider {
    font-weight: bold;
    font-size: 15px;
}

.form-container {
    text-align: left;
}

.width {
    width: 400px;
}

.forgot-pass {
    text-decoration: underline;
    font-weight: 500;
}

.btn-login {
    width: 150px;
    height: 40px;
    background-color: #1ed760;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    border: none;
}

.rem-container {
    input[type='checkbox'] {
        accent-color: green
    }
}

.rem-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}